{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>

<body>
    <table width="100%">

        <tr style="height: 100px;">
            <th colspan="2"></th>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <h3>What is your name.?</h3>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <p>Eneter the name you use in real life.!</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table align="center">
                    <form action="">
                        <tr>
                            <td width="50%" align="right">
                                <input style="width: 96%; height: 20px;" type="text"
                                    placeholder="First name">
                            </td>
                            <td><input style="width: 96%; height: 20px;" type="text" placeholder="Last name"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input style="width: 98%; height: 20px;" type="text" placeholder="Phone">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input  style="width: 98%; height: 20px;" type="email" placeholder="E-mail">
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2">
                                <select style="width: 70px; text-align: center; margin-top: 10px;" name="" id="">
                                    <option selected value="">Day</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <!-- user for loop more  -->
                                </select>
                                <select style="width: 70px; text-align: center;" name="" id="">
                                    <option selected value="">Month</option>
                                    <option value="">Jan</option>
                                    <option value="">Feb</option>
                                    <option value="">March</option>
                                    <option value="">April</option>
                                </select>
                                <select style="width: 70px; text-align: center;" name="" id="">
                                    <option value="">Year</option>
                                    <option value="">2000</option>
                                    <option value="">2001</option>
                                    <option value="">2002</option>
                                    <option value="">2003</option>
                                    <option value="">2004</option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <input style="margin-top: 20px;" type="button" value="Submit">
                            </th>
                        </tr>
                        
                    </form>
                </table>
            </td>
        </tr>
        <tr>
           <th>
            <hr style="width: 60%;">
           </th>
        </tr>
        <tr>
            <td align="center">
                <input style="margin-top: 20px; width: 70px; height: 25px;background-color: rgb(88, 126, 214); border-radius: 6px;  border-color:rgb(85, 108, 173);" type="button" value="Next">
            </td>
        </tr>

    </table>
</body>

</html>